*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
	background-color: #EAEAEA;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*==========================================*/

.title{
	width: 100%;
	background-image: url(fondo3.jpg);
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #fff;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}

.navegacion{
	width: 100%;
	background: #1C1C1C;

	display: flex;
	justify-content: center;
}

.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #fff;
	position: relative;
}

.menu .primer-item{
	border-left: 1px solid #fff;
}
.menu .segundo-item{
	border-left: 1px solid #fff;
}
.menu .tercero-item{
	border-left: 1px solid #fff;
}
.menu .cuarto-item{
	border-left: 1px solid #fff;
}
.menu .quinto-item{
	border-left: 1px solid #fff;
}
.menu .sexto-item{
	border-left: 1px solid #fff;
}


.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.menu .imagen{
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   	-moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

	-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   	-moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	top: 0%;
	position: absolute;
	z-index: 10;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   	-moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #1C1C1C;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   	-moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 115%;
}

.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}

.uno{
	position: absolute;
	top: 400px;
	left: 400px;
	font-size: 40px
}

.p1{
	position: absolute;
	top: 500px;
	left: 300px;
	width: 650px;
	height: 200px;
	font-size: 20px;
}

.p2{
	position: absolute;
	top: 750px;
	left: 300px;
	width: 650px;
	height: 200px;
	font-size: 20px;
}

.dos{
	position: absolute;
	top: 650px;
	left: 450px;
	font-size: 40px;
}

.img1{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50px;
	top: 600px;

}

.img1:hover{
	transition: transform 0.5s;
	transform: scale(1.3);
}

.img2{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50px;
	top: 700px;

}

.img2:hover{
	transition: transform 0.5s;
	transform: scale(1.3);
}
footer{
	position: absolute;
	top: 950px;
}